html, body{

}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 0px 30px 0px;
    font-size: 32px;
    position: relative;
}

p{
    font-family: 'Raleway', sans-serif;
}

.reset{
    transform: skewY(3deg);
}

.button{
    margin: 50px auto 50px auto;
    a{
    font-size: 20px;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    transition: ease-in 0.3s;
    }
    a:hover{
        background-color: black;
        color: white;
    }
}

.vl_contain{
    width: 100%;
    min-height: 80px;
    .vl{
        border-left: 2px solid #AE7C45;
        min-height: 60px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        bottom: 1;
    }
}

.header_background_content{
    overflow: hidden !important;
    .header_background{
        position: absolute;
        top: -270px;
        z-index: -2;
        transform: skewY(-3deg);
        height: 1000px;
    }
    img{
    }
}

.title_header{
    color: white;
}


.what_is_coba{
    overflow-x: hidden;
    min-height: 600px;
    .what_is_coba_content{
        min-height: 600px;
        .what_is_coba_left{
            background-image: url(../images/whatiscoba.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
            min-height: 600px;
        }
        .what_is_coba_right{
            flex-direction: column;
            justify-content: space-around;
            p{
                text-align: center;
                font-size: 24px;
                padding: 20px;
            }
        }
    }
}

.health_coba{
    overflow-x: hidden;
    margin-top: 20px;
    transform: skewY(-3deg);
    min-height: 550px;
    .health_coba_left{
        height: 550px;
        background-image: url(../images/healthcoba.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .health_coba_right{
        background-color: #F6F6F6;
        height: 550px;
        padding: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
        }
    }
}

.product_coba{
    overflow-x: hidden;
    min-height: 400px;
    text-align: center;
    h2{
        font-family: 'Roboto', sans-serif;
    }
    img{
        width: 75%;
        padding: 25px;
    }
    p{
        padding: 0px 25px;
    }
}

.instagram_coba{
    overflow-x: hidden;
    min-height: 1100px;
    background-color: #F6F6F6;
    transform: skewY(-3deg);
    overflow-y: hidden;
    h1{
        margin-top: 30px;
        padding-top: 60px;
    }
}

.kickstarter{
    min-height: 350px;
    transform: skewY(-3deg);
    background-image: url(../images/kickstarter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;
    .kickstarter_content{
        margin: 20px 0px;
        color: white;
        text-align: center;
        h3{
            margin: 10px auto;
        }
        img{
            border-radius: 10px;
            width: 170px;
            margin: 10px auto;
        }
    }
}
