/*body{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
}*/

/*.header_top{
    background-color: black;
}*/

#banner_product{
    background-image: url("../images/ourrproduct.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -200px;
}

.our_products{
    height: 380px;
}

.two_options{
    min-height: 700px;

}

.two_chocolate{
    display: flex;
    justify-content: center;
}

.ingredient{
    height: 300px;
    background-image: url(../images/slide1.jpg);
    background-position: -200px center;
    text-align: center;
    transform: skewY(-3deg);
    margin: 60px auto;
    h2{
        color: white;
        padding: 15px;
    }
    p{
        color:white;
        padding: 15px;
    }
}

.list_ingredient{
    display: flex;
    justify-content: center;
    align-items: center;
}

.risk{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 20px auto;
}

.benefice{
    margin: 40px 0px;
}

/*.footerproduit{
    background-color: black;
    min-height: 200px;
}

.footer_list{
    color: white;
}

.footer_list li{
    list-style: none;
}

.footer_list a{
    text-decoration: none;
    color: white;
}

.footer_list a:hover{
    color: white;
    text-decoration: none;
}

.footer_insta img:hover{
    transform:rotate(360deg);
    transition: all 1.5s;
}

.footer_column{
    flex-direction: column;
    align-items: center;
}*/
