/*.header{
    background-image: url(../images/header2.png);
    background-position: center -200px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
    .header_top{
        background-color: rgba(0, 0, 0, 0.8);
        .navbar{
            img{
                width: 150px;
                height: 100%;
            }
            .navbar-nav{
                a{
                    margin: 0px 20px;
                    color: white;
                }
            }
        }
    }
}*/
#header_home{
    background-image: url(../images/header2.png);
    background-position: center -200px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
    h1{
        margin: 250px auto;
    }
}

.navbar{
    background-color: $background-header-color;
    img{
        width: 150px;
        height: 100%;
    }
    .navbar-nav{
        a{
            margin: 0px 20px;
            color: white;
            margin: 10px 0px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            margin-left: 40px;
            transition: all ease-in 0.5s;
        }
        a:hover{
            color: #AE7C45;
        }
    }
}

header{

}
.custom-toggler .navbar-toggler {

}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
