.header{
    height: 650px;
    background-image: url('../images/backgroundcoba.jpg');
    background-position: center;
    background-size: cover;
}

#header_top{
    display: flex;
    justify-content: space-between;
}
