$grey :#E2DEDE;
// @@import "page/project";
nav{
  ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    li{
      list-style: none;
      text-decoration: none;
      a{
        color: white;
      }
    }
  }
}
.header{
    background-image: url("../images/tabletgloves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    .header_top{
        background-color: black;
        padding: 20px 0px;
        .navbar{
            img{
                width: 150px;
                height: 100%;
            }
            .navbar-nav{
                a{
                    margin: 0px 20px;
                    color: white;
                }
            }
        }
    }
}

.coffebar1{
  margin-top: 7%;
  transform: skewY(-8deg);
  background-color: $grey;
  p{
    margin: 20% 10%;
    transform: skewY(8deg);
  }
}
.bottom_coffee{
  transform: skewY(-8deg);
}
.coffebar2{
  transform: skewY(-8deg);
  background-color: $grey;
  p{
    transform: skewY(8deg);
    margin: 20% 10%;
  }
  img{
    height: 440px;
    object-fit: cover;
  }
}
